.two-sec-page-account {
  background-image: linear-gradient(35deg, black 80%, #283dd2);
  color: white;
}

.two-sec-page-account {
  display: grid;
  grid-template: 1fr 4fr / 1fr 1fr;
  grid-template-areas: 'title nav-acc' 'sec1 sec2';
  height: 100vh;
}

.account-nav {
  grid-area: nav-acc;
}

.page-title-account {
  grid-area: title;
  margin-left: 5rem;
}

.section-left-account, .section-right-account {
  width: 40vw;
  max-width: 50rem;
  height: auto;
}

.section-left-form-account {
  grid-area: form;
  display: grid;
  grid-template: repeat(6, 1fr) 1fr / repeat(2, 1fr);
  grid-template-areas: 'label1 label1' 'input1 input1' 'label2 label2' 'input2 input2' 'label3 label3' 'input3 input3' 'button1 .';
  grid-column-gap: 6vmax;
  grid-row-gap: 2vh;
  width: 32vw;
}

.section-left-form-account .section-left-input:nth-of-type(3) {
  grid-area: input3;
}

.section-left-form-account .section-left-form-submit {
  grid-area: button1;
}

.page-subtitle {
  font-size: 4.5rem;
  color: white;
  font-family: 'Integral CF', sans-serif;
  -webkit-text-stroke: .1rem #f4442b;
  /* stylelint-disable-line */
  text-stroke: .1rem #f4442b;
  /* stylelint-disable-line */
  -webkit-text-fill-color: transparent;
  /* stylelint-disable-line */
  text-fill-color: transparent;
  /* stylelint-disable-line */
  font-style: italic;
}

.section-left-account {
  display: flex;
  flex-direction: column;
  grid-area: sec1;
}

.section-right-account {
  grid-area: sec2;
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
  grid-row-gap: 5vh;
  grid-template-areas: 'title' 'text' 'captions';
}

.section-right-account-numbercaptions {
  grid-area: text;
  color: white;
  font-family: 'Integral CF', sans-serif;
}

.section-right-account-numberupvotes {
  grid-area: text;
  font-size: 3.5rem;
  color: white;
  font-family: 'Integral CF', sans-serif;
  -webkit-text-stroke: .1rem #742dab;
  /* stylelint-disable-line */
  text-stroke: .1rem #742dab;
  /* stylelint-disable-line */
  -webkit-text-fill-color: transparent;
  /* stylelint-disable-line */
  text-fill-color: transparent;
  /* stylelint-disable-line */
}

.section-right-account-captions {
  grid-area: captions;
  align-self: flex-start;
  display: grid;
  grid-row-gap: 2vh;
  height: 45vh;
  overflow-y: scroll;
}

.page-title {
  align-self: center;
}

@media only screen and (max-width: 1024px) {
  .two-sec-page-account {
    grid-area: nav-acc;
  }
}
