.two-sec-page-account {
  display: grid;
  grid-template: 1fr 3fr / 1fr 1fr;
  grid-template-areas: 'title nav' 'sec1 sec2';
}

.page-title-account {
  grid-area: title;
}

.nav {
  grid-area: nav;
}

.section-left-account {
  grid-area: sec1;
}

.section-right-account {
  grid-area: sec2;
}

.page-subtitle {
  grid-area: title;
  font-size: 4rem;
  color: white;
  font-family: 'Integral CF', sans-serif;
  -webkit-text-stroke: .2rem #f4442b; /* stylelint-disable-line */
  text-stroke: .2rem #f4442b; /* stylelint-disable-line */
  -webkit-text-fill-color: transparent; /* stylelint-disable-line */
  text-fill-color: transparent; /* stylelint-disable-line */
  font-style: italic;
}

.section-right-account-numbercaptions {
  color: white;
  font-family: 'Integral CF', sans-serif;
}

.section-right-account-numberupvotes {
  font-size: 3.5rem;
  color: white;
  font-family: 'Integral CF', sans-serif;
  -webkit-text-stroke: .1rem #742dab; /* stylelint-disable-line */
  text-stroke: .1rem #742dab; /* stylelint-disable-line */
  -webkit-text-fill-color: transparent; /* stylelint-disable-line */
  text-fill-color: transparent; /* stylelint-disable-line */
}

/* captions */

.caption {
  border: .1rem solid #3f3f3f;
  width: 100%;
}

.caption-content, .caption-link-sticker, .caption-link-share {
  color: white;
}

.caption-author {
  color: #283dd2;
  text-transform: uppercase;
}
