.box {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
}

.header {
  height: 100vh;
  background-color: black;
  font-family: 'Archivo Black', sans-serif;
}

.header-wrap {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: .5fr min-content .5fr / 40vw 40vw 20vw;
  grid-template-areas: 'svg1 img nav' 'sub img svg2' 'title img cta';
}

.header-title {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  color: white;
  text-transform: uppercase;
  line-height: 9rem;
  position: relative;
  left: 5rem;
}

.header-title::after {
  content: '*';
  color: #f4442b;
}

.header-subtitle {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  align-self: flex-end;
  position: relative;
  left: 5rem;
  margin-bottom: 1.8rem;
}

.header-subtitle img {
  width: 40rem;
}

.header-img {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  background: linear-gradient(rgba(115, 51, 168, 0) 70%, rgba(115, 51, 168, 1)), url(../../../assets/img/reproduction.jpg) no-repeat center;
  background-size: cover;
  width: 40vw;
  height: 120vh;
}

.header-account {
  grid-area: cta;
  height: 39rem;
  background-color: #283dd2;
  color: white;
  min-height: 15rem;
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 3.5rem;
  padding: 1rem;
}

.header-profile-login, .header-profile-register, .header-profile-of {
  color: white;
  z-index: 1;
}

.header-profile-line1 {
  display: flex;
}

.header-profile .svg-pijl {
  position: relative;
  top: 10rem;
  left: 1rem;
}

.header-profile-of p {
  margin-left: 1rem;
  -webkit-text-stroke: .1rem white;/* stylelint-disable-line */
  text-stroke: .1rem white; /* stylelint-disable-line */
  -webkit-text-fill-color: transparent;/* stylelint-disable-line */
  text-fill-color: transparent; /* stylelint-disable-line */
}

.svg1 {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
  align-self: center;
  margin-left: 5rem;
}

.svg2 {
  grid-area: svg2;
  width: 100%;
  margin: 4rem 0;
}

/*----- MAIN -----*/

.svg-pijl {
  align-self: flex-end;
  margin-bottom: -6rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/*-----main-----*/

.intro {
  background-color: black;
  z-index: -6;
  font-family: sans-serif;
  height: 600rem;
}

.intro h3 {
  font-size: 3rem;
  line-height: 3rem;
  color: white;
  font-family: 'Integral CF', sans-serif;
}

.intro-list {
  counter-reset: counter1;
  display: grid;
  grid-template: 80rem 50rem 50rem 50rem 50rem 50rem/ 42vw 58vw;
  grid-gap: 5rem;
  grid-template-areas: 'item1 item1' 'item2 item2' 'item4 item3' 'item4 item3' 'item5 item5' 'item6 item6' 'item7 item7';
}

.intro-list li::before {
  content: counter(counter1);
  counter-increment: counter1;
  position: relative;
  top: 10rem;
  left: -4rem;
  font-family: 'Integral CF', sans-serif;
  font-size: 9.5rem;
  -webkit-text-stroke: .1rem white;/* stylelint-disable-line */
  text-stroke: .1rem white;/* stylelint-disable-line */
  -webkit-text-fill-color: transparent;/* stylelint-disable-line */
  text-fill-color: transparent;/* stylelint-disable-line */
}

.intro-list h3 {
  color: white;
  max-width: 50rem;
  text-align: left;
}

.intro-list-item1 {
  grid-area: item1;
  padding: 10rem;
}

.intro-list-item2 {
  grid-area: item2;
  width: 100vw;
  height: 90rem;
  padding: 10rem;
}

.intro-container {
  display: grid;
  grid-template: 5rem 28rem 20rem / 40% 60%;
  grid-gap: 5rem;
  grid-template-areas: 'title form' 'buttons form' 'buttons . ';
}

.intro-list-item2-buttons {
  grid-area: buttons;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
}

.intro-list-item2 h3 {
  grid-area: title;
}

.intro-list-item2 form {
  background-color: #f4442b;
}

.intro-list-item2-form {
  width: 100%;
  padding: 2rem;
  background-color: #f4442b;
  grid-area: form;
}

.intro-list-item2-form input {
  width: 100%;
  height: 27.5rem;
  background-color: #f4442b;
  border: black solid .1rem;
}

.intro-list-item2-form a {
  background-color: black;
  text-align: center;
  width: 30%;
  color: white;
  border: none;
  height: 4rem;
  padding-top: .5rem;
  font-family: 'Integral CF', sans-serif;
  font-weight: bold;
}

.item2-form-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.intro-list-item3 {
  grid-area: item3;
  border: #283dd2 solid;
  width: 85%;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.intro-list-item3 div {
  background-color: pink;
  height: 50%;
}

.intro-list-item4 {
  grid-area: item4;
  background-color: yellow;
  margin-top: 25rem;
}

.intro-list-item5 {
  grid-area: item5;
}

.intro-list-item6 {
  grid-area: item6;
}

.intro-list-item7 {
  grid-area: item7;
}

.banner {
  overflow: hidden;
  width: 100vw;
}

.banner-text {
  font-family: 'Archivo Black', sans-serif;
  -webkit-text-stroke: .2rem white;/* stylelint-disable-line */
  text-stroke: .2rem white;/* stylelint-disable-line */
  -webkit-text-fill-color: transparent;/* stylelint-disable-line */
  text-fill-color: transparent;/* stylelint-disable-line */
  color: transparent;
  text-transform: uppercase;
  font-size: 7rem;
  animation: 10s linear 0s infinite reverse running banner;
}

.main-button {
  display: flex;
  width: 48rem;
  height: 17rem;
  font-family: 'Integral CF', sans-serif;
  line-height: 3rem;
}

.main-button p {
  text-align: right;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem;
}

.main-button-color {
  display: flex;
  height: 18rem;
  flex-direction: column;
  background-size: 200% 100%;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;/* stylelint-disable-line */
  -webkit-transition: all .4s ease-in-out;/* stylelint-disable-line */
  transition: all .4s ease-in-out;
}

.main-random-color {
  background-image: linear-gradient(to left, #7333a8, #7333a8, #ee483c, #ee483c);
}

.main-werken-color {
  background-image: linear-gradient(to left, #283dd2, #283dd2, #ee483c, #ee483c);
}

.main-button-pijl {
  align-self: flex-end;
  margin-bottom: -3rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.main-button-color:hover {
  background-position: 40% 0;
  -o-transition: all .4s ease-in-out;/* stylelint-disable-line */
  -webkit-transition: all .4s ease-in-out;/* stylelint-disable-line */
  transition: all .4s ease-in-out;
}

