.image-zoom-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-arrow-svg:hover {
  cursor: pointer;
}

.image-zoom-container .back-arrow {
  fill: white;
}

.image-zoom {
  width: 50%;
  object-fit: fill;
}
