.two-sec-page {
  display: flex;
}

.section-left {
  height: 100vh;
  width: 40vw;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-template-areas: 'title title' 'form form' 'link link';
  position: relative;
  z-index: 10;
}

.section-left::after {
  position: absolute;
  z-index: -10;
  content: 'Entering peoples fantasy';
  top: 20vh;
  left: -4vw;
  display: block;
  max-width: 50%;
  text-align: center;
  font-style: italic;
  font-family: 'Integral CF', sans-serif;
  color: white;
  font-size: 18.2rem;
  opacity: .1;
  line-height: 1.05;
  -webkit-text-stroke: .3rem white;/* stylelint-disable-line */
  text-stroke: .3rem white; /* stylelint-disable-line */
  -webkit-text-fill-color: transparent;/* stylelint-disable-line */
  text-fill-color: transparent; /* stylelint-disable-line */
}

.section-right {
  height: 100vh;
  width: 50vw;
  background-image: url(../../../assets/img/koningen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

.section-left-title {
  grid-area: title;
  align-self: center;
  font-size: 5rem;
  color: white;
  font-family: 'Integral CF', sans-serif;
}

.section-left-form {
  grid-area: form;
  display: grid;
  grid-template: repeat(4, 1fr) .7fr / repeat(2, 1fr);
  grid-template-areas: 'label1 label1' 'input1 input1' 'label2 label2' 'input2 input2' 'button1 button2';
  grid-column-gap: 6vmax;
}

.section-left-label {
  color: white;
  font-size: 2rem;
  text-transform: lowercase;
  align-self: flex-end;
}

.section-left-label:nth-child(1) {
  grid-area: label1;
}

.section-left-label:nth-child(3) {
  grid-area: label2;
}

.section-left-input {
  background: none;
  height: 4rem;
  color: white;
  font-size: 2rem;
  padding-left: .5rem;
}

.section-left-input:nth-child(2) {
  grid-area: input1;
}

.section-left-input:nth-child(4) {
  grid-area: input2;
}

.section-left-form-submit, .section-left-form-fb {
  border: none;
  font-family: 'Integral CF', sans-serif;
  color: white;
  font-size: 2rem;
  font-style: italic;
}

.section-left-form-submit:hover, .section-left-form-fb:hover {
  cursor: pointer;
}

.section-left-form-submit {
  background-color: #f14634;
}

.section-left-form-fb {
  background-color: #283dd2;
}

.section-left-button {
  grid-area: link;
  align-self: center;
  color: white;
  font-size: 2rem;
}

.section-left-button-link {
  color: white;
  text-decoration: underline;
  padding-left: 1rem;
}

