.nav {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #7333a8;
}

.nav-item-link {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
}

.nav-list-item-link-title-inner {
  display: block;
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .15rem;
  line-height: 1.25;
  text-align: right;
}

.nav-list-item-link-title-inner[data-hover] {
  -webkit-text-stroke: .1rem white;/* stylelint-disable-line */
  text-stroke: .1rem white;/* stylelint-disable-line */
  -webkit-text-fill-color: transparent;/* stylelint-disable-line */
  text-fill-color: transparent;/* stylelint-disable-line */
  color: transparent;
}

.nav-list-item-link-title-inner::before {
  content: attr(data-hover);
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-stroke: 0;/* stylelint-disable-line */
  text-stroke: 0;/* stylelint-disable-line */
  -webkit-text-fill-color: white;/* stylelint-disable-line */
  text-fill-color: white;/* stylelint-disable-line */
  color: white;
  transition: all .5s;
}

.nav-list-item-link:hover .nav-list-item-link-title-inner::before {
  height: 100%;
  width: 100%;
}
