@import 'reset';
@import 'vars';
@import 'animations';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.wf-active {

  & body {
    visibility: visible;
  }
}

.wf-inactive {

  & body {
    visibility: visible;
    font-family: Helvetica, Arial, sans-serif;
  }
}

body {
  font-size: var(--font-size-bodycopy);
  line-height: 1.6;
  font-family: Circular Std, sans-serif;
}

.container {
  max-width: 120rem;
  width: 88vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.hide {
  display: none;
}

h1 {
  font-size: 10rem;
}

.kunstwerk-img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}

footer {
  background-color: #7333a8;
}

.footer-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-left {
  text-transform: uppercase;
  font-size: 4.4rem;
  color: white;
  line-height: 5.4rem;
}

.footer-right {
  font-family: 'Archivo Black', sans-serif;
  font-size: 4.4rem;
  -webkit-text-stroke: .1rem white; /* stylelint-disable-line */
  text-stroke: .1rem white; /* stylelint-disable-line */
  -webkit-text-fill-color: transparent; /* stylelint-disable-line */
  text-fill-color: transparent; /* stylelint-disable-line */
  color: transparent;
  text-align: right;
}
