:root {
  --pink-lace: #facdd3;
  --honey-flower: #543e76;
  --glitter: #e8ecfd;
  --maya-blue: #66bdf7;
  --font-size-title: 10vmax;
  --font-size-subtitle: 5rem;
  --font-size-smalltitle: 3.8rem;
  --font-size-bodycopy: 1.8rem;
}
