:root {
  --blue: #283dd2;
  --orange: #f4442b;
  --glitter: #742dab;
  --maya-blue: #66bdf7;
  --font-size-title: 10vmax;
  --font-size-subtitle: 5rem;
  --font-size-smalltitle: 3.8rem;
  --font-size-bodycopy: 1.8rem;
}
